{% extends 'mail/base.html' %}
{% block content %}
<br>
<h2 align="center">Список сообщений</h2><br><br>
<div class="container">
    <a class="btn btn-outline-primary" href="{% url 'mail:message_create' %}">Добавить новое сообщение</a>
</div><br>
{% for object in object_list %}
<div class="container">
    <div class="col-md-6">
        <div class="card mb-3 box-shadow">
            <div class="card-body">
                <p class="card-text">
                    {{ object.message_subject }}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'mail:message_view' object.pk %}"
                           class="btn btn-sm btn-outline-secondary">Посмотреть</a>
                        <a href="{% url 'mail:message_edit' object.pk %}"
                           class="btn btn-sm btn-outline-secondary">Редактировать</a>
                        <a href="{% url 'mail:message_delete' object.pk %}"
                           class="btn btn-sm btn-outline-danger">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}